

/* AGENCY */



@import url('https://rsms.me/inter/inter.css');
@import url("https://db.onlinewebfonts.com/c/62e84f8271d32eb452129a0b7d59540d?family=Antipasto+Pro");
@import url("https://db.onlinewebfonts.com/c/9d942e0ff1014c476713a855710ce309?family=Lato");

/*background*/
#background-body{

/* position: absolute;
width: 1324.8px;
height: 7179.45px; */

left: 0px;
top: 0px;


background: #E9EAEF;
}


/* Rectangle 3 */

.selection-menu{
    background: #FFCC00;
 }
 
 .selection-txt{
    color: #F2F2F7;
 }
 /* Forme 4 */
 


@import url('https://rsms.me/inter/inter.css');
@import url("https://db.onlinewebfonts.com/c/62e84f8271d32eb452129a0b7d59540d?family=Antipasto+Pro");
@import url("https://db.onlinewebfonts.com/c/9d942e0ff1014c476713a855710ce309?family=Lato");

/*background*/
#background-body{

/* position: absolute;
width: 1324.8px;
height: 7179.45px; */


  background: #E9EAEF;
}

 /* Forme 4 */
 
 .forme4-agency{
  margin-left: -4.9%;
  margin-top: 7%;
  bottom: 87.26%;
  color: #FFCC00;
  width: 41.1% !important;
  
}


 /* nous plaçons des héros. */
/*  
.placons-des-heros{
  /* position: absolute; * /
  /* width: 179%;
  height: 16%; * /
  left: 10%;
  top: 30%;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 93.15px;
  line-height: 144px;
  align-items: center;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #000000;
} */


 
.globe-312668-1{
 
  /* position: absolute; */
  /* width: 439px;
  height: 436px; 
  position: absolute; */
  width: 100%;
 /*  margin-left: -64%; */
  /* margin-right: -28%; */
  margin-top: 59%;
  
}

 .forme4-agency{
    
   /* position: absolute; */
   /* left: -23.29%; */
   
   /* top: 142px; */
   margin-left: -4.9%;
   margin-top: 7%;
   bottom: 87.26%;
   color: #FFCC00;
   width: 41.1% !important;
   
 }

 .logo1{

   position: absolute;
   width: 220.8px;
   height: 70.38px;
   left: 41.4px;
   top: 37.95px;
   }
 
 /* nous plaçons des héros. */
 
 .placons-des-heros{
   position: absolute;
   /* width: 179%;
   height: 16%; */
   left: 10%;
   top: 30%;
   font-family: Inter;
   font-style: normal;
   font-weight: 800;
   font-size:93.15px;
   line-height: 144px;
   display: flex;
   align-items: center;
   letter-spacing: -0.08em;
   text-transform: uppercase;
   color: #000000;
 }
 
 
 
 
 .des-heros-1{
   position: absolute;
   /* width: 179%;
   height: 596%; */
   left: 10%;
   top: 44%;
   font-family: Inter;
   font-style: normal;
   font-weight: 800;
   font-size: 125px;
   line-height: 95.02%;
   /* display: flex; */
   align-items: center;
   letter-spacing: -0.045em;
   text-transform: uppercase;
   color: #000000;
 }
 
.heros{

   color: #FFCC00;
}

.couleur-jaune{
   background: #FFCC00;
}
 
 /* Les meilleurs talents Africains de demain chez SAYNA. */
 
 .meilleurs-talents-africains{
 
    position: absolute;
    left: 11%;
    top: 60%;
    font-family: Antipasto Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 41px;
    line-height: 43px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #6E6E6E;
 }
 

 .couleur-rose{
  background: #FB5875;
  color: #E9EAEF;
 }
 /* globe-312668 1 */
 
 .globe-312668-1{
 
    /* position: absolute; */
    /* width: 439px;
    height: 436px; 
    position: absolute; */
    width: 116%;
    margin-left: -64%;
    /* margin-right: -28%; */
    margin-top: 59%;
    
 }
 
 .row{
   margin-top: 0%;
   margin-bottom: 0%;
 }

 .sous-titre-9-rose{

   font-family: Inter;
   font-style: normal;
   font-weight: 600;
   font-size: 102%;
   line-height: 29px;
   letter-spacing: -0.025em;
   text-transform: uppercase;
   color: #FB5875;
 }
 /* pourquoi l’agency ? */
 
 .pourquoi-l-agency{
 
   margin-top: -1%;
   margin-left: 8%;
   /* position: absolute; */
   /* width: 279px; */
   /* height: 36px; */
    
 }
 
 .sous-titre-9-noir{
   font-family: Inter;
   font-style: normal;
   font-weight: 900;
   font-size: 211%;
   line-height: 121%;
   letter-spacing: 0.01em;
   color: #000000;

 }
 /* Sayna place les meilleurs talents digitaux Africains pour répondre à vos besoins. */
 
 .sayna-place-les-meilleurs{
   margin-left: 8%;
   margin-top: 2%;
   width: 58%;
}
 
 /* Grâce à vous, un étudiant pourra rembourser sa formation et devenir indépendant financièrement. La Flexibilité est un élément clé : SAYNA s’adapte à vos demandes, pour une journée de travail ou pour une semaine jusqu’à 2 ans, nous vous mettons à disposition les talents que nous avons formés. La formation c’est bien, mais trouver un travail c’est mieux ! C’est pour cette raison que nous accompagnons tous nos talents sur la durée dans leur insertion professionnelle. */
 
 .grace-a-vous{
 
       /* position: absolute; */
       width: 38%;
       /* height: 240px; */
       margin-left: 8%;
       margin-top: 1%;
       font-family: Inter;
       font-style: normal;
       font-weight: normal;
       font-size: 84%;
       line-height: 156.02%;
       text-align: justify;
       color: #000000;
 }
 
 /* Rectangle 161 */
 
 .rectangle-161a{
   width: 10%; 
    height: 77% !important;
    margin-left: 8%;
    /* margin-top: %; */
    background: #FB5875 !important;
    border-radius: 100px !important;
    border-color: #FB5875 !important;
 }
 
 /* nos talents */
 
 .nos-talents{
   
   font-family: Inter;
   font-style: normal;
   font-weight: 600 !important;
   font-size: 83% !important;
   line-height: 150.02%;
   /* display: flex; */
   align-items: center;
   text-align: center;
   letter-spacing: 0.005em;
   text-transform: uppercase;
   color: #FFFFFF;
    
 }
 
 /* transparence */
 
 .transparence{

    margin-right: 5%;
    float: right;
    text-align: right
    
 }
 
 .la-transparence{
  width: 42%
 }

 .loin-des-modeles{
   width: 39%;
 }
 /* Rectangle 15 */
 
 .rectangle-15c{

   width: 11%;
   /* padding-left: 5% !important; */

   margin-left: -39% !important;
   margin-top: 5%;
   background: #FB5875 !important;
   border-radius: 100px !important;
   border-color: #FB5875 !important;
   position: absolute;
    
 }
 
 .decouvrez-notre-selection{
  width: 77% !important;
 }
 /* les métiers enseignés chez sayna */
 
 .metiers-enseignes{
 
   margin-top: 5%;
   margin-left: 16%;
    
 }
 
 .dev-nodejs{
  margin-left: 6%;
  width: 84%;
 }
 /* Les types de profils que l’on retrouve chez nous. */
 
 .types-de-profils{
   margin-left: 16%;
   width: 66%;
 }
 
 
 /* Après avoir appris les fondamentaux du web, tu peux aller plus loin et te spécialiser dans un des métiers du digital qui connait le plus de pénurie sur le marché international : développeur, data engineer, marketing digitale et vente... */
 
 .apres-avoir-appris-les-fondamentaux{
   width: 58% !important;
 }
 
 .unboxingDoodle{
    /* UnboxingDoodle */
 
 
    /* position: absolute; */
    width: 80%;
    margin-left: 9%;
    /* left: 1098px;
    top: 2036px; */
 }
 
 
 
 
 /* Rectangle */
 
 .rectangle{

   background: #F7F7F9;
   border-radius: 20px;
   width: 58%;
   height: 470%;
   /* width: 68%;
   height: 470%; */
}

 .service-1-1a{
 
   margin-left: 42%;
   bottom: 9.77%;  
   margin-top: 5.66%;
 } 
 


 .service-1-2a{
   margin-left: 22%;
   bottom: 9.77%;  
   margin-top: 5.66%;
 
}



.service-1-3a{
   margin-left: 3%;
   bottom: 9.77%;  
   margin-top: 5.66%;

}

.aprend-a-developper{
  width: 91%;
   padding-bottom: 37% !important;
   margin-left: 3%;
}
 /* développeur web Ruby On Rails */
 
 .developpeur-web-Ruby{
 
    margin-left: 18%;
    margin-right: 18%;
    /* right: 5.89%; */
    padding-top: 10.58%;
    bottom: 62.28%;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 109%;
    line-height: 146%;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FB5875;
 }

 /* Deviens un développeur Web Full Stack avec Ruby On Rails : la technologie de Airbnb, Twitter et d’autres géants de la tech. */
 
 .deviens-un-developpeur-web{
 
   font-family: Inter;
   font-style: normal;
   font-weight: normal;
   font-size: 91%;
   line-height: 138%;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: -0.025em;
   color: #898989;
 
   margin-top: 18%;
   padding-bottom: 30%;
 }


 .service-1a{
 
   margin-left: 42%;
   bottom: 9.77%;  
   margin-top: 5.66%;
 }
 

 /* DEVELOPPEUR FRONT END - DESIGNER UX/UI */
 
 .developpeur-front-end{
   margin-left: 5%;
   margin-right: 5%;
   
}

.deviens-un-expert-du-Front{
   margin-left: 9% !important;
   padding-bottom: 24% !important;
   width: 80%;
}

 .service-2a{
 
   margin-left: 22%;
   bottom: 9.77%;  
   margin-top: 5.66%;
 }
 
 
 .apprends-a-faire-des-publicites{
   
   padding-bottom: 24% !important;
   margin-top: 27%;

 }
 
 .service-3a{
 
   margin-left: 3%;
   bottom: 9.77%;  
   margin-top: 5.66%;
 }
 
 
 /* data engineer */
 
 .data-engineer{
 
   margin-left: 25% !important;
}
.apprends-a-aller-chercher{
  padding-bottom: 36% !important;
  margin-top: 28% !important;
  width: 95%;
  margin-left: 2%;
}


 /* curriculum */
 
 .curriculum{
 
   position: absolute;
   /* width: 216px;
   height: 66px; */
   /* left: 852px;
   top: 3504px; */
   left: 41px;
   top: 19px;
   font-family: Lato;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 150.02%;
   /* or 27px */
   
   /* display: flex; */
   align-items: center;
   text-align: center;
   letter-spacing: 0.005em;
   text-transform: uppercase;
   
   color: #FFFFFF;
}


 /* Rectangle 161 */
 
 .rectangle-161b{
   width: 10%;
   height: 77% !important;
   margin-left: 46% !important;
   margin-top: 4%;
   background: #FB5875 !important;
   border-radius: 100px !important;
   border-color: #FB5875 !important;
 } 
 
.rectangle-1942a{
   margin-top: 3% !important;
}
 /* Rectangle 1942 */
 
 .rectangle-1942{
 
   width: 54%;
   height: 38%;
   margin-top: 7%;
   
   background: #FFCC00;
   border-radius: 0px 30px 30px 0px;
}

 
 /* Comment ca marche ? */
 
 .comment-ca-marche{
   margin-top: 2%;
   margin-left: 8%;
 }
 
 /* #1 Déposez votre besoin en dix petites minutes */
 
 .deposez-votre-besoin{
   margin-left: 8%;
   margin-top: 1%;
   width: 71%;
 }
 
 /* Répondez à un simple questionnaire pour que nous puissions avoir une première idée de vos besoins et attentes : indiquez les technologies, le type de profil, le secteur d’activité en question, les tâches globales de la mission. */
 
 .repondez-a-un-simple-questionnaire{
  width: 73%;
   padding-bottom: 2%;
 }
 
.fleche-quest{
  columns: #F2F2F7;
} 

 /* Rectangle 15 */
 
 .rectangle-15d{
   position: absolute;
    margin-right: 8%;
    margin-top: 23.5%;
    margin-left: 81%;
    width: 11%;
    /* margin-left: 8%; */
    /* background: #FB5875 !important; */
    border-radius: 100px !important;
    background: #FFCC00 !important;
    border-color: #FFCC00 !important;
    font-family: Lato;
    font-style: normal;
    font-weight: bold !important;
    font-size: 83%;
    line-height: 86%;
    text-align: center;
    text-transform: uppercase;
    color: #000000 !important;
 }



 /* Vector */
 
 .fleche-rdv{
 
   font-size: 13px;
   color: #000000;
   margin-left: 6%;
}
 /* Rectangle 1947 */
 
 .rectangle-1947{
 

      width: 54%;
      height: 38%;
      margin-top: 7%;
   
     
     background: #F2F2F7;
     border: 11px solid #FB5875;
     box-sizing: border-box;
     box-shadow: 0px 4px 15px rgba(251, 88, 117, 0.3);
     border-right-style: none;
     border-radius: 30px 0px 0px 30px;
     float: right;
 }
 
 /* NIVEAUX ET MODALITés d’évaluations */
 
 .niveaux-et-modalites{
   margin-top: 2%;
   margin-right: 5%;
   float: right;
     
 }
 
 /* #2 Clarifiez votre besoin autour d’un café. */
 
 .clarifiez-votre-besoin{
    
   margin-left: 38%;
    text-align: right;
    /* float: right; */
    margin-top: 1%;
    width: 58%;
   
 }
 
 /* Prenez rendez-vous avec nous sur notre agenda pour que l’on puisse échanger sur les besoins que vous avez exprimés dans le questionnaire. L’idée de cet appel est de reserrer le périmètre de notre intervention et d’ajuster nos offres à votre situation. */
 
 .prenez-rendez-vous{
  width: 72%;
   text-align: right;
   margin-left: 23%;    
   margin-bottom: 4%;
 }

 .c-est-l-avant{
  margin-left: 40%;
    width: 55%;
 }
 
 .validez-les-conditions{
  width: 81%;
 }

 .il-ne-vous-reste{
  width: 53%;
 }
 /* Rectangle 15 */
 
 .rectangle-15e{
 
   width: 11%;
    /* padding-left: 5% !important; */
   
    height: 12% !important;
    margin-left: -38% !important;
    margin-top: 5%;
    background: #FB5875 !important;
    border-radius: 100px !important;
    border-color: #FB5875 !important;
    position: absolute;
 }
 


 /* GroovyDoodle */
 
 .groovyDoodle{
   position: absolute;
   margin-top: -55%;
   width: 176%;
   margin-left: -4.12%;
}

 /* Forme 4 */
 
 .forme-4-agency{
   position: absolute;
   /* top: 6676px; */
   width: 145%;
   margin-left: -26%;
   color: #FFCC00;
/*    transform: matrix(0.7, 0.72, 0.72, -0.7, 0, 0); */
}

/* Forme 5 */

.forme-5-agency{
   position: absolute;
   /* top: 6676px; */
   width: 100%;
   margin-top: -18%;
   margin-left: -5%;
   color: #FFCC00;
   /* transform: rotate(143.7deg); */
}
 
 /* une solution à chaque situation */
 
 .une-solution-a-chaque-situation{
   margin-top: 62%;
}

 
 /* Rectangle 1939 */
 
 .rectangle-1939{
 
     position: absolute;
     width: 1041px;
     height: 406px;
     left: 0px;
     top: 4683px;
     
     background: #FFCC00;
     border-radius: 0px 30px 30px 0px;
 }
 
 /* séléction */
 
 .selection{
 
     position: absolute;
     width: 138px;
     height: 36px;
     left: 123px;
     top: 48px;
     
     font-family: Inter;
     font-style: normal;
     font-weight: 600;
     font-size: 24px;
     line-height: 29px;
     letter-spacing: -0.025em;
     text-transform: uppercase;
     
     color: #FB5875;
     
 }
 
 /* Recruter un talent chez SAYNA c’est avoir accès à deux talents. Tout au long de leur mission les talents qui travaillent ont le support d’un talent senior derrière eux. Nous vous ferons une sélection sur mesure suite à vos demandes ! */
 
 .recruter-un-talent{
  width: 52%;
  margin-top: 3%; 
 }
 
 /* Rectangle 1941 */
 
 .rectangle-1941{
 

   width: 54%;
   height: 38%;
   margin-top: 3%;

  
  background: #F2F2F7;
  border: 11px solid #FB5875;
  box-sizing: border-box;
  box-shadow: 0px 4px 15px rgba(251, 88, 117, 0.3);
  border-right-style: none;
  border-radius: 30px 0px 0px 30px;
  float: right;
 }
 
 /* #4 Entretenez vous avec le talent que vous avez choisi pour en savoir plus sur lui ! */
 
 .entretenez-vous{
  
    margin-left: -5% !important;
    text-align: right;
    /* float: right; */
    margin-top: 1%;
    width: 100%;
 }
 
 /* Découvrez nos modalités d’évaluation ! */
 
 .decouvrez-nos-modalites{
   font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 184%;
    line-height: 121%;
    letter-spacing: 0.01em;
    color: #000000;
    /* margin-left: 8%; */
    margin-top: 12%;
    width: 24%;
 }


 .offre-sur-mesure{
   width: 91% !important;
 }


 /* Chacun de nos talents sont évalués et validés sur les CINQ verticales ci-dessous; On ne vous présente que des profils se situant entre les niveaux “Juste” et “Excellent”.. */
 
 .chacun-de-nos-talents{
 
  width: 29%;
   /* height: 240px; */
   margin-left: 8%;
   margin-top: 3%;
   font-family: Inter;
   font-style: normal;
   font-weight: normal;
   font-size: 84%;
   line-height: 156.02%;
   text-align: justify;
   color: #000000;
 }

 /* Rectangle 1936 */
 
 .rectangle-1936{
   margin-top: 12%;
    width: 81%;
    background: #FFCC00;
    margin-left: 13%;
    border-radius: 20px 20px 0px 0px;
}

/* offre start-(up) */

.offre-start-up{
    font-family: Lato;
    padding-top: 2%;
    font-style: normal;
    font-weight: 600;
    font-size: 181%;
    line-height: 150.02%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* L’offre idéale pour commencer avec nous : recrutement immédiat et sur mesure pour staffer un projet ou une petite équipe tech et gérer sa trésorerie. */

.offre-ideale{
   width: 76%;
   /* height: 130%; */
   font-family: Inter;
   font-style: normal;
   font-weight: normal;
   font-size: 90%;
   line-height: 150.02%;
   /* display: flex; */
   align-items: center;
   margin-left: 1%;
   text-align: center;
   letter-spacing: 0.005em;
   color: #3D3D3D;
   padding-bottom: 3%;
}

 

/* 18% du TJM du talent reversé à SAYNA jusqu’à ce que la formation soit remboursée 15% du TJM de frais de placement 3% du TJM de frais de gestion : internet, local, environnement 64% du TJM reversé intégralement au développeur, celui qui crée la valeur 45 € de TJM à 150 € de TJM selon les profils Tarif dégressif au fil des jours. */

.du-TJM-du-talent-reverse{
   padding-top: 5%;
   width: 71%;
   margin-left: 10%;
   /* top: 8054px; */
   font-family: Inter;
   font-style: normal;
   font-weight: 600;
   font-size: 92%;
   line-height: 150.02%;
   /* display: flex; */
   align-items: center;
   letter-spacing: 0.005em;
   color: #000000;
   
}

.du-TJM-du-talent-reverse li{
   margin-top: 5%;
}

ul{
   list-style:none;
}
.du-TJM-du-talent-reverse .li-1::before {
   content: "•";
    color: #FFCC00;
    display: inline-block;
    width: 1em;
    padding-top: -14%;
    margin-left: -6%;
    font-size: 184%;
}


.du-TJM-du-talent-reverse .li-2::before {
   content: "•";
    color: #FB5875;
    display: inline-block;
    width: 1em;
    padding-top: -14%;
    margin-left: -6%;
    font-size: 184%;
}


/* - Freelances formés, vérifiés et qualifiés par nos soins - Matching en quelques heures - Prise de rendez-vous en ligne avec nos experts - Signature électronique - Facturation et paiements simplifiés - Support en ligne */

.freelances-formes{
   padding-top: 4%;
   font-family: Lato;
   font-style: normal;
   font-weight: 500;
   font-size: 89%;
   line-height: 150.02%;
   align-items: center;
   text-align: center;
   letter-spacing: 0.005em;
   color: #898989;
   padding-bottom: 4%;
   
}


.freelances-formes li::before {
   content: "-";
}

 /* Rectangle 1937 */
 
 .rectangle-1954{
   width: 100%;
   margin-top: unset;
   /* margin-left: 12%; */
   margin-top: 4%;
   /* top: 8054px; */
   background: rgba(242, 242, 242, 0.6);
   border-radius: 0px 0px 15px 15px;
}

 /* Rectangle 1937 */
 
 .rectangle-1937{
   width: 81%;
   margin-top: unset;
   margin-left: 13%;
   margin-top: -2%;
   /* top: 8054px; */
   background: #FFFFFF;
   border-radius: 0px 0px 15px 15px;
}


 /* Rectangle 1938 */
 
 .rectangle-1938{
 
   margin-top: 12%;
    width: 81%;
    background: #FFCC00;
    margin-left: 9%;
    border-radius: 20px 20px 0px 0px;
}


 
 /* Rectangle 186 */
 
 .rectangle-186{
 
   width: 81%;
   margin-top: unset;
   margin-left: 9%;
   margin-top: -2%;
   /* top: 8054px; */
   background: #FFFFFF;
   border-radius: 0px 0px 15px 15px;
}



.point-questionnaire {
    position: absolute;
    margin-top: -9%;
    left: 53%;
    width: 2%;
}

.courbe-questionnaire{
  position: absolute;
    margin-top: -8.5%;
    left: 54%;
    width: 25%;
}

.point-rdv-1{
  position: absolute;
  margin-top: 31%;
  left: 20%;
  width: 2%;
}

.courbe-rdv-1{
  position: absolute;
    margin-top: 15.5%;
    left: 19%;
    width: 27.5%;

}
