@import url('https://rsms.me/inter/inter.css');
@import url("https://db.onlinewebfonts.com/c/0033a2fbc0329740fb86c1cfd134cb94?family=Roboto");
@import url("https://db.onlinewebfonts.com/c/629a55a7e793da068dc580d184cc0e31?family=Open+Sans");
.vertical-line {
   
   
  position: absolute;
    width: 100%;
    height: 2px;
    
    top: 223.56px;
    background: #FFCC00;
    transform: matrix(0, -1, -1, 0, 0, 0) !important;
    margin-left: -7% !important;

}

.copyright {
   position: relative;
   left: 39%;
   top: 89%;
    color: #FFCC00;
    font-size: 9.66px;
   
    
}
footer {
    width: 100% !important;
    background: #000000;
    border-radius: none;
}

.new-logo {
   position: relative;
    width: 50%;
    margin-left: 12%;
    margin-top: 5%;
    
}




.asaf label>a {
    color: #FFFFFF;
    text-decoration: none;
}



.asaf {
   position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16.56px;
    line-height: 106.56px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0%;
    color: #FFFFFF;
   text-decoration: none;
   left: 2%; 
   text-decoration-line: none;
}

.ligne-horiz {
   
    width: 87%;
    height: 4%;
    left: 11.5%;
    position: relative;
   
    background: #FFCC00;
}

hr {
    height: 1.6px !important;
    border: none !important;
    margin: 0px !important;
}

.ligne-horiz2 {
    position: relative;
    width: 87%;
    top: 43px;
    background-color: #FFCC00;
}

hr {
    height: 1.6px !important;
    border: none !important;
    margin: 0px !important;
}

.lptc {
   position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 156.56px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #898989;
    left: 2%;
}

.droite {
    padding-top: 3%;
}

.recevez>p {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17.52px;
    line-height: 16.56px;
    /* margin-left: -28.12px; */
    display: flex;
    align-items: center;
    text-align: center;
    color: #FEFEFE;
    margin-top: 5%;
    letter-spacing: 0.05em;
    position: relative;
}

.subscribe {
    margin-top: 2%;
}
.barre {
 
    width: 326px;
    height: 51px;
    border-radius: 9px;
    padding-left: 15.87px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12.42px;
    line-height: 16.56px;
    /* margin-left: 50.88px; */
    display: flex;
    align-items: center;
    color: #889988;
}

.btn-rejoin-footer {
    
    width: 127px;
    height: 46.82px;
    
    background: #FFCC00;
    border-radius: 10px;
    margin-left: 23%;
    text-decoration: none;
     text-align: center;
}

.join-footer {
    position: relative;
    width: 124.23px;
    height: 42.09px;
   
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12.42px;
    line-height: 16.56px;
  
    align-items: center;
    text-align: center;
    color: #363636;
  
}






.trace1141 {
   
   
    width: 172.5px;
    text-align: left;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16.56px;
    /* or 171% */
    display: flex;
    align-items: center;
    color: #898989;
}

.contact02 {
    
    width: 164.2px;
    text-align: center;
 
}


.trace1101 {
    
 
    width: 172.5px;
    text-align: left;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
    /* or 171% */
    display: flex;
    align-items: center;
    color: #898989;
}


.trace111, .trace110, .trace114{
    
  width: 80%;
   display: block;
   margin-top: auto;
   margin-bottom: auto;
}

.trace1111 {
    
    width: 172.5px;
    text-align: left;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 24px;
    /* or 171% */
    display: flex;
    align-items: center;
    color: #898989;
}

.bro {
   top: 16%;
   position: relative;
    left: -5%;
}

.bord-droite {
    margin-left: 0% !important;
    position: relative;

}

.cliquable {
   
    display: flex;
    justify-content: space-around;

   
    margin-left: 0;
    width: 40%;
    position: relative;
}

.tabl2 {
    width: 100%;
    height: 80%;

    position: relative;
    margin-left: auto;
margin-right: auto;

border: none;
border-spacing: 10px;
border-collapse: separate;
}

td {
    border: none;
   } 