.vertical-line {
    position: absolute;
width: 482px;
height: 2px;
left: 717px;
top: 324px;

background: #FFCC00;
transform: matrix(0, -1, -1, 0, 0, 0);
}    

.copyright {
    position: absolute;
    color: yellow;
    font-size: 14px;
    top: 581px;
    left: 930px;
}    

      #rectangle-foot{
position: absolute;
width: 1920px;
height: 670px;
left: 0px;
top: 10200px;
background: #000000;

border-radius: none;
}





.new-logo {
position: absolute;
    width: 312px;
height: 99px;
left: 96px;
top: 91px;


}


.column-layout {
  display: table;
  width: 100%;
  border-collapse: separate;
}
#rectangle-foot > div {
  display: table-cell;
  width: 100%/2;
  padding: 0px;
  border: none;

}
.asaf label > a{
    color:#FFFFFF;
}
.asaf label > a:hover{
    text-decoration: none;
}
.asaf {
position: absolute;
width: 603px;
height: 97px;
left: 61px;
top: 254px;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;

/* or 100% */
display: flex;
align-items: center;
justify-content: space-around;
 margin: 0 0 0 0 ;

color: #FFFFFF;
}

.ligne-horiz {
    position: absolute;
    width: 28%;
    margin-right:0;
    text-align:left;
    top: 350px;
    left: 96px;
    background: #FFCC00
}
hr{
    height: 1.6px !important;
    border: none !important;
    margin: 0px !important;
}

.ligne-horiz2 {
    position: absolute;
    width: 32.2%;
    
    top: 350px;
    left: 1220px;
background-color: #FFCC00;
}
hr{
    height: 1.6px !important;
    border: none !important;
    margin: 0px !important;
}

.lptc {
    position: absolute;
width: 384.86px;
height: 32.88px;
left: 96px;
top: 520px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;

/* or 171% */
display: flex;
align-items: center;
justify-content: space-around;

color: #898989;
}

.recevez > p {
    position: absolute;
    width: 567px;
height: 73px;
left: 1148px;
top: 89px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 22.5px;
line-height: 24px;
margin-left: 73.74px;
/* or 107% */
display: flex;
align-items: center;
text-align: center;

color:  #FEFEFE;
}
.barre {
    position: absolute;
    width: 377.04px;
    height: 73.23px;
    left: 1149.38px;
    top: 220px;
    border-radius: 9px;
    padding-left: 23px;
background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
margin-left: 73.74px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

color: #889988;
}
.btn-rejoin-footer {
    position: absolute;
width: 184.06px;
height: 67.85px;
left: 1537.94px;
top: 223px;
background: #FFCC00;
border-radius: 10px;
margin-left: 29px;
margin-left: 103.74px;

}
.join-footer{

/* position: absolute; */
width: 180.04px;
height: 61px;
left: 1575.71px;
top: 10130px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
/* or 133% */

display: inline-grid;
align-items: center;
text-align: center;

color: #363636;

}
.trace111{

position: absolute;
width: 27.99px;
height: 28px;
left: 0px;
top: -16.82px;
}

.contact01 {
    position: absolute;
    top: 200px;
    width: 238px;
    text-align: center;
    margin-left: -105.26px;

}
.trace114 {
    position: absolute;
    left: 223.38px;
top: 223px;
}
.trace1141 {
    position: absolute;
    left: 283.38px;
top: 223px;
float: left;
width: 250px;
text-align: left;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;

/* or 171% */
display: flex;
align-items: center;

color: #898989;
}

.contact02 {
    position: absolute;
    top: 250px;
    width: 238px;
    text-align: center;
    margin-left: -105.26px;
}
.trace110 {
    position: absolute;
    left: 223.38px;
top: 223px;
}
.trace1101 {
    position: absolute;
    left: 283.38px;
top: 223px;
float: left;
width: 250px;
text-align: left;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */
display: flex;
align-items: center;

color: #898989;
}

.contact03 {
    position: absolute;
    top: 200px;
    width: 238px;
    text-align: center;
    top: 300px;
    margin-left: -105.26px;

}
.trace111 {
    position: absolute;
    left: 223.38px;
top: 223px;
}
.trace1111 {
    position: absolute;
    left: 283.38px;
top: 223px;
float: left;
width: 250px;
text-align: left;
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;

/* or 171% */
display: flex;
align-items: center;

color: #898989;
}
.bro {
    position: absolute;
    left: 1111px;
}

.cliquable {
    position: absolute;
    display: flex;
    justify-content: space-around;
    left: 1633px;
    top: 500px;
    margin-left: -73.74px;
    width: 300px;
}