#programme {

}

#type-choix {

}

.typejournee {
	/* la journée type #sayna */

position: absolute;
width: 460px;
height: 36px;
left: 120px;
top: 6785px;

font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
letter-spacing: -0.03em;
text-transform: uppercase;

color: #FB5875;
}

.choisisleparcours {
	position: absolute;
width: 825px;
height: 191px;
left: 122px;
top: 6840px;

font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 61px;
letter-spacing: 0.01em;

color: #000000;


}
 
 #traceUn {

 }

.rectangle151 {
	/* Rectangle 151 */

position: absolute;
width: 1879.68px;
height: 193px;
left: -20.68px;
top: 7085px;

background: #FFCC00;
border-radius: 20px;
}

.ellipse7-2 {
	/* Ellipse 7 */

position: absolute;
width: 152px;
height: 152px;
left: 1217px;
top: 6993px;


}

.group77 {
	position: absolute;
width: 361.53px;
height: 224px;
left: 56.34px;
top: 7074px;
}

.group19 {
	/* Rectangle 154 */

position: absolute;
width: 249.58px;
height: 215px;
left: 426.82px;
top: 7073px;


}

.group20 {
	/* Group 20 */

position: absolute;
width: 254.31px;
height: 220px;
left: 697px;
top: 7073px;
}
 
 .group22 {
 	/* Group 22 */

position: absolute;
width: 254.44px;
height: 220px;
left: 968px;
top: 7073px;
 }

 .group21 {
 	/* Group 21 */

position: absolute;
width: 254.14px;
height: 220.25px;
left: 1239px;
top: 7073px;
 }
 .group23 {
 	position: absolute;
width: 253.93px;
height: 220px;
left: 1510px;
top: 7073px;
 }


 .rectangle154 {
 	/* Rectangle 154 */

position: absolute;
width: 1906px;
height: 181px;
left: -47px;
top: 7433px;

background: #141138;
border-radius: 20px;
 }

 .ellipse8-2 {
 	/* Ellipse 8 */

position: absolute;
width: 95px;
height: 95px;
left: 1726px;
top: 7474px;

;
 }

 .ellipse9-2 {

position: absolute;
width: 59px;
height: 59px;
left: 1744px;
top: 7492px;


 }


.group78{
	/* Group 78 */

position: absolute;
width: 361.53px;
height: 224px;
left: 56.34px;
top: 7412px;
}

 .group79 {
 	/* Group 79 */

position: absolute;
width: 253.76px;
height: 220px;
left: 487px;
top: 7410px;
 }

 .group80 {
 	/* Group 80 */

position: absolute;
width: 253.76px;
height: 220px;
left: 799px;
top: 7410px;
 }

 .group81 {
 	/* Group 81 */

position: absolute;
width: 253.76px;
height: 220px;
left: 1111px;
top: 7410px;
 }

 .group82 {
 	/* Group 82 */

position: absolute;
width: 253.76px;
height: 220px;
left: 1423px;
top: 7410px;
 }




















