
html {
    background: #E5E5E5;
}


/*background*/


#background-body{
     background: #E5E5E5;
}
/* Forme 1 */

/*div parent choixensemble*/
#patChoix {
    position: absolute;
    left: -1220px;
}

/*choix-ensemble + apprends les*/

.choix-ensemble{
    position: absolute;
width: 648px;
height: 482px;
left: 1292px;
top: 2301px;
}


/* choisissez votre parcours */
.choix-parcours {
     position: absolute;

width: 380px;
height: 36px;
left: 126px;
top: 2110px;

font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
letter-spacing: -0.025em;
text-transform: uppercase;

color: #FB5875;
}

/* Apprends les fondamentaux du métier de développeur web. */
.apprends-les {

position: absolute;
width: 857px;
height: 141px;
left: 123px;
top: 2184px;

font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 61px;
letter-spacing: 0.02em;

color: #000000;
}

/* LES STRUCTURES DE NOS COURS */
.structure {

position: absolute;
width: 640px;
height: 231px;
left: 123px;
top: 2325px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 156.02%;

/* or 30px */

color: #000000;
}


/* bouton je m'inscris*/
.jeminscris {
position: absolute;
width: 297px;
height: 58px;
left: 123px;
top: 2547px;
background: #FFCC00;
border-radius: 20px;
}

/*texte je m'inscris maintenant*(PAGE2)*/
.jem {
position: absolute;
left: 20px;
right: 13.47%;
top: 1.72%;
bottom: -1.72%;

font-family: Sofia Pro;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #000000;
}

/*vector avec je m'inscris PAGE2*/
.vector {
position: absolute;
left: 86.53%;
right: 7.74%;
top: 34.48%;
bottom: 36.21%;

background: #FFCC00;
}


.di-rect {
    position: absolute;
width: 492px;
height: 454px;


background: #F7F7F9;
border-radius: 20px;
}

.rectangle-18 {
    
    left: 180px;
top: 5055px;
}

.rectangle-156 {
    
    left: 750px;
top: 5055px;
}

.rectangle-157 {
    
    left: 1320px;
top: 5055px;
}


/* STYLE ET POLICE DES TEXTES DANS LES 5 RECTANGLES PAGE2*/
.rim {

    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.025em;

color: #898989;
padding: 20px;
padding-top: none;
}

.diez {

  
width: 492px;
height: 100px;
align-content: center;

font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.025em;
text-transform: uppercase;

color: #FB5875;
}

.basesdufrontend {
   margin-left: 80px;
    
}
.culture-web {
    margin-left: 140px;
}
.soft-skills{
    margin-left: 150px;
}
.lesoutils {

    width: 420px;
     margin-left: 30px;
}
.cybersecurite {
     margin-left: 110px;
}


.rectangle-158 {
    
    left: 450px;
top: 5575px;
}

.rectangle-159 {
    
    left: 1030px;
top: 5575px;
}

.lestechniques {
   padding-top: 25%;
}

/*texte specialisation */
.specialisation {
    position: absolute;
width: 213px;
height: 36px;
left: 1607px;
top: 3634px;

font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
letter-spacing: -0.025em;
text-transform: uppercase;

color: #FB5875;
}


/* Spécialise toi avec l’un de nos parcours et deviens un confirmé. */
.speci {
position: absolute;
width: 1035px;
height: 182px;
left: 764px;
top: 3730px;

font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 50px;
line-height: 119.52%;

/* or 60px */
text-align: right;
letter-spacing: 0.01em;

color: #000000;
}

/* Après avoir appris les fondamentaux du web,  */
.apresavoir {
position: absolute;
width: 640px;
height: 116px;
left: 1158px;
top: 3866px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 156.02%;

/* or 30px */
text-align: right;

color: #000000;
}

.ensembleB {
    position: absolute;
  top: 2500px;
  
}


/* SitReadingDoodle */
.sitread {

position: absolute;
width: 695px;
height: 520px;
left: 47px;
top: 3605px;

/*transform: matrix(-1, 0, 0, 1, 0, 0);*/
}

 /* Rectangle 189 */
.rectangle-189 {
    position: absolute;
left: -8px;
top: 4022px;

background: #E5E5E5;

}

/*BOUTON JE M'INSCRIS 2*/ 
.jeminscris2 {
    position: absolute;
width: 297px;
height: 58px;
left: 1501px;
top: 4028px;
background: #FFCC00;
border-radius: 20px;

}

.jem2 {
position: absolute;
left: 0%;
right: 13.47%;
top: 1.72%;
bottom: -1.72%;

font-family: Sofia Pro;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: #000000;
}

.vector1 {
    position: absolute;
left: 86.53%;
right: 7.74%;
top: 34.48%;
bottom: 36.21%;

background: #FFCC00;
}
 #patChoix2 {
    position: absolute;
 }

.ellipse7-2 {

}

.