        /* onisoa css */
        
        @import url('https://rsms.me/inter/inter.css');
        @import url("https://db.onlinewebfonts.com/c/9d942e0ff1014c476713a855710ce309?family=Lato");
        /* une pédagogie innovante */
        
        .pedagogie-innovante {
            width: 262.2px;
            height: 25px;
            /* left: calc(50% - 380px/2 - 647px); */
            /* top: calc(50% - 36px/2 - 1993.5px); */
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: 600;
            font-size: 16.56px;
            line-height: 20px;
            letter-spacing: -0.025em;
            text-transform: uppercase;
            color: #FB5875;
        }
        /* Du sourcing à la formation continue en passant par le placement, on s’occupe de tout. */
        
        .sourcing-formation {
            width: 612px;
            height: 133.86px;
            left: 84.87px;
            top: 2233.53px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: 900;
            font-size: 30.5px;
            line-height: 119.52%;
            /* or 60px */
            letter-spacing: 0.01em;
            color: #000000;
        }
        /* 3) Sourcing et Placement */
        
        .sourcing-placement {
            position: absolute;
            width: 612.03px;
            height: 297.39px;
            left: 71.87px;
            /*top: 2110px; */
        }
        /* Rectangle 149 */
        
        .rectangle-149 {
            position: relative;
            background: rgba(255, 204, 0, 0.6);
        }
        /* LayingDoodle 1 */
        
        .layingDoodle-1 {
            position: absolute;
            width: 87%;
            top: 30%;
            left: 28%;
            z-index: 2;
            height: auto;
        }
        /* voir le détail */
        
        .fleche-voir-detail {
            margin-left: 27px;
            color: #E9EAEF;
            font-size: 17px;
        }
        /* Component 2 */
        
        .btn-component-2 {
            /* position: absolute; */
            /*    width: 513px;
   height: 108px; */
            position: relative;
            width: 46%;
            height: 65px;
            bottom: 18px;
            border-style: none !important;
            border-image: none !important;
            display: inline-grid !important;
            background: #FB5875 !important;
            border-radius: 20px !important;
        }
        
        .voir-detail {
            /* position: absolute; */
            left: 2.34%;
            right: 19.49%;
            top: 1.85%;
            bottom: -1.85%;
            margin-left: auto;
            margin-right: auto;
            font-family: "Lato";
            font-style: normal;
            font-weight: bold;
            font-size: 1.1em;
            line-height: 20px;
            align-items: center;
            text-align: center;
            display: flex;
            text-transform: uppercase;
            color: #E9EAEF;
        }
        /* Boxes Détails Formation */
        
        .boxes-details {
            position: absolute;
            width: 1090.2px;
            height: 292.56px;
            padding-left: 9% !important;
            top: -180px;
            z-index: 1;
            /* left: 75.99px; */
            /* top: 2491.29px; */
        }
        
        .list-rect {
            position: absolute;
            width: 28%;
            height: 292.56px;
            background: #F7F7F9;
            border-radius: 20px;
        }
        /* Rectangle 16 */
        /* suivi des étudiants */
        
        .suivie {
            position: absolute;
            width: 65%;
            height: 24.84px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 29px;
            text-align: center;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            top: 49px;
            left: 72px;
            color: #FB5875;
        }
        /* Nous tenons à suivre l’évolution de nos étudiants pour leur réussite. Ils profitent alors d’un accompagnement personnalisé par : - Un mentor dédié - Un Teacher dédié - Un Gestionnaire de carrière - Un Coach spécialisé en neuro-science - … */
        
        .tenons {
            left: 15.18px;
            top: 106.95px;
            position: absolute;
            width: 87%;
            height: 243.57px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: normal;
            font-size: 0.8em;
            line-height: 15.87px;
            /* display: flex; */
            align-items: center;
            text-align: center;
            color: #ABADB6;
        }
        /* Rectangle 17 */
        
        .rectangle-17 {
            left: 38%;
        }
        /* Soft skills */
        
        .soft {
            top: 49px;
            left: 28.29px;
            position: absolute;
            width: 82%;
            height: 24.84px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 20px;
            text-align: center;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #FB5875;
        }
        /* Rectangle 17 */
        
        .rectangle-18 {
            left: 67%;
        }
        /* Si dans le milieu professionnel nous attendons des salariés qu’ils excellent par leurs compétences et connaissances, il est tout aussi important de permettre à l’étudiant de comprendre les rouages de la vie professionnelle. Des SoftCamps sont donnés à tous nos étudiants pour qu’ils puissent évoluer sans difficultés. */
        
        .milieu-professionnel {
            left: 15.18px;
            top: 106.95px;
            position: absolute;
            width: 88%;
            height: 243.57px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: normal;
            font-size: 0.8em;
            line-height: 15.87px;
            /* display: flex; */
            align-items: center;
            text-align: center;
            color: #ABADB6;
        }
        /* blended learning */
        
        .blended {
            left: 45px;
            top: 49px;
            position: absolute;
            width: 80%;
            height: 24.84px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 20px;
            text-align: center;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            color: #FB5875;
        }
        /* Le numérique c’est important, l’humain l’est encore plus lorsqu’il s’agit d’apprentissage. Le mimétisme, l’acculturation, la validation sociale, que des termes qui ne sont pas appris en ligne. */
        
        .numerique-important {
            position: absolute;
            width: 87%;
            height: 95.22px;
            left: 20px;
            top: 122.13px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: normal;
            font-size: 0.8em;
            line-height: 15.87px;
            /* display: flex; */
            align-items: center;
            text-align: center;
            color: #ABADB6;
        }
        
        .offre-groupe {
            width: 100%;
            height: auto;
        }
        /* Groupe SANS CONTENT */
        
        .Groupe-SANS-CONTENT {
            position: absolute;
            width: 431.94px;
            height: 120.75px;
            left: 40px;
            /* top: 4369.08px;
    margin-top: 181.84px; */
        }
        /* NOS OFFRES AGENCE */
        
        .NOS-OFFRES-AGENCE {
            position: absolute;
            width: 32%;
            height: 15.38px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: 600;
            font-size: 16.56px;
            line-height: 1em;
            text-align: center;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #FB5875;
        }
        /* Placement en CDI FREELANCE. */
        
        .placement-CDI {
            left: 2%;
            position: absolute;
            width: 50%;
            height: 82.7px;
            top: 24%;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: 900;
            font-size: 2em;
            line-height: 42.72px;
            color: #000000;
        }
        /* SAYNA Agency place en remote les meilleurs talents digitaux Africains dans le monde entier : en CDD, en CDI, FREELANCE,  pour un jour ou plusieurs années. Chacun des talents placés a suivi un parcours de formation de 3 à 6 mois avant d'être proposé sur une mission, et est accompagné d'un senior. */
        
        .SAYNA-Agency-place {
            position: absolute;
            width: 82%;
            height: 150.42px;
            left: 2%;
            top: 108%;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: normal;
            font-size: 0.8em;
            line-height: 156.02%;
            text-align: justify;
            color: #000000
        }
        /* Au delà de nos tarifs attractifs, 82% de la facturation reviens au talent, un modèle juste et équitable loin des sociétés de service classiques. */
        
        .nos-tarifs-attractifs {
            position: absolute;
            width: 401.58px;
            height: 211.83px;
            left: 16%;
            top: 135px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: normal;
            font-size: 0.8em;
            line-height: 152%;
            text-align: left;
            color: #000000;
            color: #000000;
        }
        
        .gras {
            font-weight: bolder;
            font-size: 6em;
        }
        /* NOS OFFRES AGENCE */
        
        .NOS-OFFRES-AGENCE-1 {
            position: absolute;
            width: 199.41px;
            height: 15.35px;
            top: 4820.54px;
            left: 563.04px;
            margin-top: 156.28px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: 600;
            font-size: 16.56px;
            line-height: 20px;
            text-align: center;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #FB5875;
        }
        /* MVP Projet clé en main. */
        
        .MVP-Projet {
            position: absolute;
            width: 417.45px;
            height: 82.71px;
            left: 454.71px;
            top: 4855.45px;
            margin-top: 156.28px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: 900;
            font-size: 35.19px;
            line-height: 42.78px;
            text-align: center;
            color: #000000;
        }
        /* SAYNA Factory rassemble pour vous une équipe de freelances en adéquation avec vos besoins dans un cadre forfaitaire et vous accompagne de la conception à la livraison jusqu’à la maintenance. Engagés au forfait,nous sommes en charge de toute la réalisation du projet. Des premières spécifications jusqu'au livrable final, en passant par le MVP, les itérations et les tests. */
        
        .SAYNA-Factory-rassemble {
            position: absolute;
            width: 469px;
            height: 137.16px;
            left: 449.18px;
            top: 4964.82px;
            margin-top: 156.28px;
            text-align: center;
        }
        /* Ellipse 169 */
        
        .ellipse-169 {
            position: absolute;
            width: 100%;
            /* height: 696.52px; */
            /* top: 4625.07px; */
            /* left: -5.52px; */
            /* margin-top: 178.73px; */
            color: #FFCC00;
            border-radius: 20px;
        }
        /* Polygon 5 */
        
        .Polygon-5 {
            position: absolute;
            left: 31.74px;
            width: 26%;
            top: 277px;
            border-radius: 20px;
            /* transform: rotate(83.71deg);*/
        }
        /* Ellipse 170 */
        
        .ellipse-170 {
            position: relative;
            width: 63%;
            /* height: 378.92px; */
            /* left: 1023.24px; */
            border-radius: 20px;
            /* transform: rotate(19.43deg);*/
        }
        /* Polygon 6 */
        
        .Polygon-6 {
            position: relative;
            width: 17%;
            /* height: 87px; */
            left: -21%;
            color: #FB5875;
        }
        
        .ellipse-groupe {
            height: 690px;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
        
        .left-ellipse {
            height: 510px;
        }
        
        .right-ellipse {
            height: 313px;
            float: right;
            text-align: right;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
        /* Rectangle 1922 */
        
        .fleche-decouvrir {
            margin-left: -17px;
            color: #E9EAEF;
            font-size: 13px;
        }
        
        .btn-decouvrir {
            position: absolute;
            width: 151.8px;
            height: 40.02px;
            left: 587.19px;
            top: 5139.81px;
            margin-top: 156.28px;
            border-style: none;
            border-image: none;
            background: #FB5875;
            border-radius: 100px !important;
        }
        /* M'inscrire */
        
        .inscrire {
            width: 125.58px;
            height: 36.57px;
            left: 587.19px;
            top: 5143.26px;
            /* margin-top: 417.8px; */
            font-family: "Lato";
            font-style: normal;
            font-weight: bold;
            font-size: 13.8px;
            line-height: 13.8px;
            display: inline-grid;
            align-items: center;
            text-align: center;
            letter-spacing: -0.035em;
            text-transform: uppercase;
            color: #EBEBF1;
        }
        /* notre communauté */
        
        .notre-communaute {
            position: absolute;
            width: 199.41px;
            height: 24.84px;
            top: 5229px;
            left: 749.22px;
            margin-top: 290.28px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: 600;
            font-size: 16.56px;
            line-height: 20px;
            display: flex;
            align-items: center;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #FB5875;
        }
        /* Nous rassemblons la Communauté digitale la plus qualifiée d’Afrique. */
        
        .rassemblons-communaute {
            position: absolute;
            width: 458.51px;
            height: 133.86px;
            left: 749.22px;
            top: 5399.25px;
            margin-top: 156.28px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: 900;
            font-size: 35.19px;
            line-height: 42.78px;
            color: #000000;
            color: #000000;
        }
        /* Profitez dès maintenant de l’expertise de nos 150+ talents formés. Notre communauté constituée d’anciens étudiants, de freelances, d’experts thématiques. */
        
        .profitez-maintenant {
            position: absolute;
            width: 420.21px;
            height: 67.62px;
            left: 753.91px;
            top: 5542.77px;
            margin-top: 156.28px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: normal;
            font-size: 13.8px;
            line-height: 126.7%;
            letter-spacing: -0.025em;
            color: #000000;
        }
        /* Rectangle 27 */
        
        .btn-join {
            position: absolute;
            width: 195.96px;
            height: 40.2px;
            left: 756.01px;
            top: 5633.85px;
            margin-top: 156.28px;
            border-style: none;
            border-image: none;
            background: #FB5875;
            border-radius: 100px !important;
        }
        /* M'inscrire */
        
        .rejoindre {
            width: 164.91px;
            height: 37.95px;
            left: 779.01px;
            top: 5636.61px;
            padding-right: 35px;
            font-family: "Lato";
            font-style: normal;
            font-weight: bold;
            font-size: 13.8px;
            line-height: 13.8px;
            display: inline-grid;
            align-items: center;
            text-align: center;
            letter-spacing: -0.035em;
            text-transform: uppercase;
            color: #EBEBF1;
        }
        /* Rectangle 1921 */
        
        .rectangle-1921 {
            position: absolute;
            width: 6.21px;
            height: 367.77px;
            left: 727.28px;
            top: 5341.29px;
            margin-top: 156.28px;
        }
        
        .group-69 {
            /* Group 69 */
            /* position: absolute; */
            width: 667.23px;
            height: 569.25px;
            left: 587.19px;
            top: 5139.81px;
        }
        /* MéDIAS */
        
        .media {
            left: 77.28px;
            top: 5851.06px;
            position: absolute;
            width: 159.39px;
            height: 24.18px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: 600;
            font-size: 16.56px;
            line-height: 20px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #FB5875;
        }
        /* Découvrez-nous à travers la Presse, TV ... */
        
        .decouvrez-nous {
            position: absolute;
            width: 489.57px;
            height: 82.8px;
            left: 77.18px;
            top: 5904.8px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: 621;
            font-size: 35.19px;
            line-height: 42.78px;
            color: #000000;
        }
        /* SAYNA veut faire connaître ses actions sur tous les médias pour toucher le plus grand nombre. Découvrez nos interviews, reportages, articles et tous les autres contenus. */
        
        .sayna-faire-connaitre {
            position: absolute;
            width: 459px;
            height: 65.55px;
            left: 77px;
            top: 6011.23px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 156.02%;
            text-align: justify;
            color: #000000;
        }
        /* Component 2 */
        
        .component-2a {
            position: relative;
            left: 77.87px;
            top: 5666px;
            width: 380px;
            height: 65px;
            bottom: 18px;
            border-style: none !important;
            border-image: none !important;
            display: inline-grid !important;
            background: #FB5875;
            border-radius: 20px !important;
        }
        /* ils parlent de nous */
        
        .ils-parlent-de-nous {
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 20.7px;
            padding-left: 72px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: #E9EAEF;
        }
        
        .fleche-ils-parlent {
            margin-left: 13px;
            color: #E9EAEF;
            font-size: 17px;
        }
        /* IMG_4281 1 */
        
        .img-4281 {
            position: absolute;
            width: 548.53px;
            height: 336.26px;
            left: 619.4px;
            top: 5874px;
            border-radius: 20px;
        }
        /* attendez, ne partez pas ! */
        
        .attendez-ne-partez {
            top: 6362.5px;
            left: 84.9px;
            position: absolute;
            width: 391.9px;
            height: 42px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: 600;
            font-size: 16.6px;
            line-height: 20px;
            letter-spacing: -0.02em;
            text-transform: uppercase;
            color: #FB5875;
        }
        /* Nous sommes aussi présents sur YOUTUBE ! */
        
        .nous-sommes-aussi {
            position: absolute;
            width: 823px;
            /* height: 72px; */
            left: 83.5px;
            top: 6401px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: 900;
            font-size: 27.2px;
            line-height: 42px;
            color: #000000;
        }
        /* youtube-2433301 1 */
        
        .youtube-2433301 {
            position: absolute;
            width: 65.55px;
            height: 65.55px;
            left: 552.97px;
            top: 6483.24px;
        }
        /* Slider #2 */
        
        .slider-2 {
            position: absolute;
            left: 4.9%;
            right: 5.26%;
            top: 90.79%;
            bottom: 4.26%;
        }
        /* Rectangle */
        
        .rectangle {
            position: absolute;
            width: 2814px;
            height: 470px;
            left: 0px;
            top: 9935px;
            background: #000000;
        }
        /* Bg */
        
        .Bg {
            position: absolute;
            left: 163.53px;
            top: 6520.5px;
        }
        /* Bg 1 */
        
        .Bg-1 {
            position: absolute;
            left: 12.86px;
            top: 6561.9px;
            ;
            background: #EEF2F4;
            border-radius: 5px;
        }
        /* Bg 2 */
        
        .Bg-2 {
            position: absolute;
            left: 357.76px;
            top: 6533.61px;
            color: #D1DBE3;
            /* box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.2); */
            border-radius: 5px;
        }
        /* Bg 3 */
        
        .Bg-3 {
            position: absolute;
            left: 813.16px;
            top: 6561.9px;
            background: #EEF2F4;
            border-radius: 5px;
        }
        /* miniature 1 */
        
        .miniature-1 {
            position: absolute;
            width: 195.27px;
            height: 42.78px;
            left: 103.28px;
            top: 6653.67px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: 900;
            font-size: 35.19px;
            line-height: 62px;
            /* identical to box height */
            color: #000000;
        }
        /* miniature 2 */
        
        .miniature-2 {
            position: absolute;
            width: 206.31px;
            height: 43.47px;
            left: 502.07px;
            top: 6653.67px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: 900;
            font-size: 35.19px;
            line-height: 62px;
            color: #000000;
        }
        /* miniature 3 */
        
        .miniature-3 {
            position: absolute;
            width: 217.35px;
            height: 51.06px;
            left: 917.41px;
            top: 6653.67px;
            font-family: 'Inter', 'sans-serif';
            font-style: normal;
            font-weight: 900;
            font-size: 35.19px;
            line-height: 62px;
            color: #000000;
        }
        
        .youtube-pager {
            position: relative;
            left: 88.98%;
            right: 47.29%;
            top: 6320.67px;
            bottom: 4.81%;
            display: block;
        }
        
        .youtube-pager li {
            list-style-type: none;
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #929292;
            margin-right: 13.8px;
        }
        
        .youtube-pager li:active,
        .youtube-pager li:hover {
            background: #FB5875;
            border-color: #FB5875;
        }
        
        .fleche-connexion {
            margin-left: -13px;
            color: #E9EAEF;
            font-size: 14px;
        }
        
        .Groupe-8 {
            position: absolute;
            width: 27.6px;
            height: 19.32px;
            /* left: 604px; */
            margin-left: -12px;
            top: 9px;
            font-size: 30px;
            color: #575F6B;
        }