@import url('https://rsms.me/inter/inter.css');
@import url("https://db.onlinewebfonts.com/c/9d942e0ff1014c476713a855710ce309?family=Lato");
@import url("https://db.onlinewebfonts.com/c/62e84f8271d32eb452129a0b7d59540d?family=Antipasto+Pro");

/****************************
******************School css****
************************************/

.container-fluid {
    padding-left: 0 !important;
}

.underlignefact {
    background: rgba(255, 204, 0, 0.6);
}

.S-part-three {
    width: 100%;
    position: relative;
    margin-top: 10%;
}

.service {
    width: 100%;
    height: 650px;
}

.S-part-four {
    width: 100%;
}

.S-part-six {
    width: 100%;
}

.S-part-seven {
    width: 100%;
}

.row {
    width: 100%;
}


/* Logo_Sayna */

#background-body {
    width: 100%;
    display: block;
    background: #E5E5E5;
    overflow-x: hidden;
}

.logo1-school {
    position: relative;
    margin-top: 5%;
    margin-left: 8%;
    width: 39%;
    height: 70.38px;
}


/* Menu */


/*.menu {
    
    width: 100%;
    height: 50.37px;
    left: 41%;
    top: 4%;
}

.btn-connexion {
    /* position: absolute; */


/* width: 26%;
    height: 48.3px;
    left: 1050.87px;
    top: 86.94px;
    padding: 0 !important;
    margin-left: 3%;
    background-color: #FB5875 !important;
    border-radius: 50px !important;
    /* transform: matrix(1, 0, 0, -1, 0, 0); */


/*}

/*.btn-school {
    /* position: absolute; */


/* width: 17%;
    height: 48.3px;
    left: 614.1px;
    top: 38.64px;
    padding: 0 !important;
    display: inline-flex !important;
    background-color: #FFCC00 !important;
    box-shadow: 0px 0px 20px rgba(255, 204, 0, 0.35);
    border-radius: 20px !important;
}

.btn-agency {
    /* position: absolute; */


/* width: 17%;
    height: 48.3px;
    left: 614.1px;
    top: 38.64px;
    margin-left: 3%;
    padding: 0 !important;
    display: inline-flex !important;
    background-color: #F2F2F7 !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
}

.btn-factory-menu {
    /* position: absolute; */


/*width: 17%;
    height: 48.3px;
    left: 614.1px;
    top: 38.64px;
    margin-left: 3%;
    padding: 0 !important;
    display: inline-flex !important;
    background-color: #F2F2F7 !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important;
}

.txt-btn {
    width: 117.3px;
    height: 46.92px;
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 16.56px;
    display: inline-grid;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #F2F2F7;
}

.txt-agency {
    width: 117.3px;
    height: 46.92px;
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 16.56px;
    display: inline-grid;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #575F6B;
}

.txt-connexion {
    /* 
   position: absolute; */


/*width: 131.79px;
    height: 48.3px;
    left: calc(50% - 191px/2 + 657.5px);
    top: calc(50% - 70px/2 - 5108.5px);
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 0.9em;
    line-height: 16.56px;
    display: inline-grid;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #E9EAEF;
}

.btn-dropdonw {
    width: 8%;
    height: 48.3px;
    left: 1233.72px;
    top: 38.64px;
    /* padding: 0 !important; */


/* margin-left: 3%;
    background: #F2F2F7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px !important
}


/* Group 8 */


/*.Groupe-drop {
    /* position: absolute; */


/*    width: 27.6px;
    height: 19.32px;
    /* left: 604px; */


/* margin-left: -12px; */


/*  top: 9px;
    font-size: 33px !important;
    color: #575F6B !important;
}
*/

* {
    padding: 0;
    margin: 0;
}

.btn {
    padding: 10px !important;
    display: inline-flex;
    justify-content: space-between;
    border: none;
}

.menu {
    position: relative;
    float: right !important;
    width: 100%;
    left: 2.5%;
    margin-right: none !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: none !important;
}

[class*="col"] {
    margin-bottom: 25px;
}

li {
    list-style: none;
    display: inline-block !important;
    margin: 2.6%;
}

.fleche-connexion {
    position: relative;
    left: 15%;
}

.teext-menu {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #575F6B !important;
    text-decoration-line: none;
}

.teext-school {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: white !important;
    text-decoration-line: none;
}

.teext-connex {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    text-decoration-line: none;
    margin-left: 6%;
    color: white !important;
}

.btn-menu {
    position: relative;
    background: #F2F2F7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15) !important;
    border-radius: 12%;
}

.btn-connexion {
    position: relative;
    width: 180px;
    height: 40px;
    background-color: #FB5875 !important;
    border-radius: 50px !important;
}

.btn-dropdown {
    background: #F2F2F7;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15)!important;
    border-radius: 12%;
}

.btn-school {
    position: relative;
    background: #FFCC00 !important;
    box-shadow: 0px 0px 20px rgba(255, 204, 0, 0.35);
    border-radius: 20px;
    height: 50px;
}


/* Groupe 294  Femme qui vole */

.groupe-294 {
    position: relative;
    width: 100%;
    height: auto;
}

.girl-fly {
    margin-top: 2% !important;
    float: right;
    /*top: -34%;*/
    left: -10%;
}

.fdh {
    position: relative;
    margin-top: 23% !important;
    left: 10%;
}


/* nous formons des héros. */

.formons-des-heros {
    position: relative;
    width: 100%;
    /* left: 114px; */
    /* top: 440px; */
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 800;
    font-size: 5em;
    line-height: 144px;
    display: flex;
    align-items: center;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #000000;
}

.des-heros {
    position: relative;
    width: 100%;
    height: 103px;
    /* left: 114px; */
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 800;
    font-size: 7em;
    line-height: 95.02%;
    /* display: flex; */
    align-items: center;
    letter-spacing: -0.045em;
    text-transform: uppercase;
    color: #000000;
}

.heros {
    color: #FFCC00;
}


/* intégre la meilleure école digitale de madagascar. */

.integre-la-meilleure {
    /* left: 117px; */
    position: relative;
    width: 100%;
    height: 41px;
    font-family: Antipasto Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 43px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #6E6E6E;
}

header {
    background: url("../image/Forme 1 (1) 1.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 38%;
    margin-left: 0%;
    margin-top: 0%;
}


/********** Etape**********/


/* Tu as hâte de nous rencontrer ? Nous aussi ! */

.S-part-two {
    margin-top: 5%;
    position: relative !important;
}

.S-part-two {
    width: 100%;
    height: 750px;
}

.S-part-one {
    /* margin-top: %; */
    height: auto;
}

.hate-de-nous-rencontrer {
    position: relative;
    width: 100%;
    height: 79px;
    /* top: 1169px; */
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000
}

.rectangle-149 {
    position: relative;
    background: rgba(255, 204, 0, 0.6);
}

.rectangle-28 {
    position: absolute;
    width: 94%;
    height: 12px;
    left: 11%;
    top: 31%;
    background: #FFCC00;
    border-radius: 6px;
}


/* Rectangle 29 */

.rectangle-29 {
    position: absolute;
    width: 90%;
    top: 64%;
    height: 12px;
    background: #FFCC00;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}


/* Group 5 */

.groupe-5 {
    position: absolute;
    width: 24%;
    height: 157px;
    left: 13%;
    top: 11%;
}


/* étape 1 */

.etape-1 {
    position: absolute;
    width: 97%;
    height: 51px;
    top: 10%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 2.3em;
    line-height: 61px;
    text-align: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #000000;
}


/* je choisis mon parcours */

.choisis-parcours {
    position: absolute;
    width: 50%;
    height: 52px;
    left: 22%;
    top: 50%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.017em;
    text-transform: uppercase;
    color: #FB5875;
}


/* Ellipse 2 */

.ellipse-2 {
    position: absolute;
    left: 43%;
    right: 74.27%;
    top: 92%;
    /* bottom: 83.72%; */
    width: 9px;
    height: 8px;
    font-size: 1.3em !important;
    color: #FB5875;
}


/* Group 6 */

.groupe-6 {
    position: absolute;
    width: 24%;
    height: 157px;
    left: 40%;
    top: 11%;
}


/* étape 2 */

.etape-2 {
    position: absolute;
    width: 97%;
    height: 51px;
    left: 12px;
    top: 10%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 2.3em;
    line-height: 61px;
    text-align: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #000000;
}


/* je remplis mon formulaire de candidature */

.remplis-mon-formulaire {
    left: 6%;
    top: 50%;
    position: absolute;
    width: 91%;
    height: 60px;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.017em;
    text-transform: uppercase;
    color: #FB5875;
}


/* Ellipse 3 */

.ellipse-3 {
    position: absolute;
    /* right: 50.52%; */
    top: 92%;
    left: 49%;
    font-size: 1.3em !important;
    color: #FB5875
}


/* Group 7 */

.groupe-7 {
    position: absolute;
    width: 24%;
    height: 157px;
    left: 68%;
    top: 11%;
}


/* étape 3 */

.etape-3 {
    position: absolute;
    width: 97%;
    height: 54px;
    top: 10%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 2.3em;
    line-height: 61px;
    text-align: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #000000;
}


/* je passe mon test en ligne */

.passe-mon-test {
    left: 8%;
    top: 50%;
    position: absolute;
    width: 81%;
    height: 52px;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.017em;
    text-transform: uppercase;
    color: #FB5875;
}


/* Ellipse 4 */

.ellipse-4 {
    position: absolute;
    left: 45%;
    /* right: 27.45%; */
    top: 92%;
    /* bottom: 83.72%; */
    font-size: 1.3em !important;
    color: #FB5875;
}

.groupe-8 {
    position: absolute;
    width: 24%;
    height: 157px;
    top: 44%;
    left: 13%;
}


/* étape 4 */

.etape-4 {
    position: absolute;
    width: 97%;
    height: 64px;
    top: 10%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 2.3em;
    line-height: 61px;
    text-align: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #000000;
}


/* je bloque un créneau pour passser mon entretien */

.bloque-un-creneau {
    top: 50%;
    left: -4%;
    position: absolute;
    width: 100%;
    height: 123px;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.017em;
    text-transform: uppercase;
    color: #FB5875;
}

.ellipse-etape-4 {
    position: absolute;
    top: 92%;
    left: 43%;
    color: #FB5875;
    font-size: 1.3em !important;
}


/* Group 9 */

.groupe-9 {
    position: absolute;
    width: 24%;
    height: 157px;
    left: 42%;
    top: 44%;
}


/* étape 5 */

.etape-5 {
    position: absolute;
    width: 97%;
    height: 64px;
    top: 10%;
    /* left: 12px; */
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 2.3em;
    line-height: 61px;
    text-align: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #000000
}


/* j’entame les démarches administratives d’inscription */

.entame-les-demarches {
    top: 40%;
    left: -4%;
    position: absolute;
    width: 100%;
    height: 88px;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.017em;
    text-transform: uppercase;
    color: #FB5875;
}

.ellipse-etape-5 {
    position: absolute;
    top: 92%;
    left: 43%;
    color: #FB5875;
    font-size: 1.3em !important
}


/* Group 10 */

.groupe-10 {
    position: absolute;
    width: 24%;
    height: 157px;
    left: 68%;
    top: 44%;
}


/* étape 6 */

.etape-6 {
    position: absolute;
    width: 97%;
    top: 10%;
    height: 64px;
    font-family: 'Inter', 'sans-serif';
    font-weight: 900;
    font-size: 2.3em;
    line-height: 61px;
    text-align: center;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #000000;
}


/* je démarre la formation */

.demarre-la-formation {
    top: 50%;
    left: 8%;
    position: absolute;
    width: 78%;
    height: 52px;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.017em;
    text-transform: uppercase;
    color: #FB5875
}

.ellipse-etape-6 {
    position: absolute;
    top: 92%;
    left: 45%;
    color: #FB5875;
    font-size: 1.3em !important;
}


/* Ellipse 5 */

.ellipse-5 {
    position: absolute;
    right: 8%;
    top: 62%;
    color: #FFCC00;
    font-size: 2.8em !important;
}

.fleche-top {
    margin-left: 31px;
    color: #E9EAEF;
    font-size: 15px !important;
}


/* Component 3 */

.component-3 {
    position: relative;
    width: 41%;
    height: 78px;
    padding: 1%;
    padding-left: 8%;
    top: 65%;
    left: 33%;
    float: center;
}


/* Rectangle 15 */

.rectangle-15 {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 62%;
    height: 54px;
    display: inline-grid !important;
    background: #FB5875 !important;
    border-radius: 15px !important;
}


/* je m’inscris maintenant */

.je-m-inscris {
    position: relative;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 30px;
    /* display: inline; */
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #E9EAEF;
}

.fleche {
    margin-left: 31px;
    color: #000000;
    font-size: 13px !important;
}


/********** Etape**********/


/******** choise *******/


/*choix-ensemble + apprends les*/

.choix-ensemble {
    position: absolute;
    width: 100%;
    padding-left: 41px !important;
    /* left: 1292px;
    top: 2301px; */
}


/* choisissez votre parcours */

.choix-parcours {
    position: relative;
    width: 50%;
    left: 8%;
    height: 36px;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 29px;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #FB5875;
}


/* Apprends les fondamentaux du métier de développeur web. */

.apprends-les {
    position: relative;
    width: 87%;
    height: 99px;
    left: 8%;
    margin-top: 4%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    line-height: 44px;
    letter-spacing: 0.02em;
    color: #000000;
}

.underligne {
    background: rgba(255, 204, 0, 0.6);
    padding: 0 !important;
}


/* LES STRUCTURES DE NOS COURS */

.structure {
    position: relative;
    width: 70%;
    margin-top: 3%;
    left: 8%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-size: 0.78em;
    line-height: 156.02%;
    color: #000000;
}


/* bouton je m'inscris*/

.jeminscris {
    position: relative;
    width: 206px;
    height: 45px;
    margin-top: 2%;
    left: 8%;
    display: block !important;
    background: #FFCC00 !important;
    border-radius: 17px !important;
}


/*texte je m'inscris maintenant*(PAGE2)*/

.jem {
    position: relative;
    /* right: 13.47%; */
    /* left: 10%; */
    padding-left: 9px;
    bottom: -10.72%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: bold;
    font-size: 0.69em;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.fleche-inscription {
    color: #000000;
    font-size: 13px;
    padding-left: 16px;
}


/*********list one*******/

.three-list-one {
    width: 97%;
    margin-left: 3% !important;
    margin-right: 1% !important;
}

.di-rect1 {
    position: relative;
    width: 100px;
    height: 332px;
    background: #F7F7F9;
    border-radius: 20px;
}


/* Rectangle 18 */

.rectangle-18 {}

.soft-skills-choise {
    width: 50%;
    position: relative;
    height: 87px;
    left: 30%;
    align-content: center;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #FB5875;
}

.apprentissage {
    position: relative;
    width: 79%;
    left: 9%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    color: #898989;
}


/*culture web*/

.rectangle-156 {}

.culture-web-choise {
    position: relative;
    width: 50%;
    height: 87px;
    left: 24%;
    align-content: center;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #FB5875;
}

.sitravailler {
    position: relative;
    width: 80%;
    left: 9%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    color: #898989;
}


/*base de front*/

.rectangle-157 {}

.bases-frontend {
    position: relative;
    width: 67%;
    height: 87px;
    left: 19%;
    align-content: center;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #FB5875;
}

.front-travailler {
    position: relative;
    width: 80%;
    left: 9%;
    top: -9%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    color: #898989;
}

.di-rect-bottom {
    width: 27%;
    height: 332px;
    background: #F7F7F9;
    border-radius: 20px;
    margin-right: 5px;
}


/*outils dev*/

.rectangle-158 {}

.les-outils {
    position: relative;
    width: 67%;
    height: 87px;
    left: 17%;
    align-content: center;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #FB5875
}

.pourdevenir {
    position: relative;
    width: 88%;
    left: 9%;
    top: 0%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    color: #898989;
}


/*cybersecurity*/

.rectangle-159 {}

.cybersecurite {
    position: relative;
    width: 67%;
    height: 87px;
    left: 28%;
    align-content: center;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #FB5875;
}

.lestechniques {
    position: relative;
    width: 88%;
    left: 6%;
    top: 19%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    color: #898989;
}


/*********list one*******/

.buv-caf {
    position: relative;
    margin-top: 5%;
}

.img-ensemble-choise {
    width: 100%;
    height: 400px;
}


/* SitReadingDoodle */

.sitread {
    position: absolute;
    width: 96%;
    height: 425px;
    top: -8%;
}


/* Rectangle 189 */

.rectangle-189 {
    position: absolute;
    background: #E5E5E5;
    width: 100%;
    top: 77%;
}


/*specification*/

.speci-speci {
    position: relative;
    height: 400px;
    padding-right: 30px !important;
}


/*texte specialisation */

.specialisation-choise {
    position: relative;
    width: 100%;
    height: 36px;
    /* top: 3634px; */
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 29px;
    text-align: right !important;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #FB5875;
}

.speci {
    position: relative;
    width: 100%;
    height: 96px;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    line-height: 119.52%;
    text-align: right!important;
    letter-spacing: 0.01em;
    color: #000000;
}


/* Après avoir appris les fondamentaux du web,  */

.apres-avoir {
    position: relative;
    width: 100%;
    height: 116px;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 0.78em;
    line-height: 156.02%;
    text-align: right !important;
    color: #000000;
}

.jeminscris2 {
    position: relative;
    width: 30%;
    height: 50px;
    text-align: right;
    left: 50%;
    padding: 0 !important;
    display: inline-grid !important;
    background: #FFCC00 !important;
    border-radius: 20px !important;
}


/******** choise *******/


/*les choix de formation*/


/*One 1*/

.S-part-four,
.S-part-four1 {
    width: 97%;
    margin-left: 1% !important;
    margin-right: 2% !important;
}


/* Rectangle */

.rec-list-service {
    position: relative;
    background: #F7F7F9;
    border-radius: 20px;
    width: 23%;
    height: 253.9px;
}

.icon-grp-service {
    width: 50%;
    text-align: center;
    left: 25%;
    position: relative;
}

.stroke-1 {
    width: 16%;
    position: relative;
}

.stroke-2 {
    width: 5%;
    left: -3%;
    position: relative;
}


/* Service 1 1 */

.service-1-1 {}


/* développeur web Ruby On Rails */

.developpeur-web-Ruby {
    position: relative;
    left: 5%;
    margin-top: 15%;
    right: 18.89%;
    top: 0.58%;
    bottom: 62.28%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    line-height: inherit;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FB5875
}


/* Deviens un développeur Web Full Stack avec Ruby On Rails : la technologie de Airbnb, Twitter et d’autres géants de la tech. */

.deviens-un-developpeur-web {
    left: 1%;
    margin-top: 5%;
    position: relative;
    width: 89%;
    height: 100px;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    color: #898989;
}

.deviens-un-developpeur-web1 {
    left: 1%;
    margin-top: 15%;
    position: relative;
    width: 89%;
    height: 100px;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;
    color: #898989;
}


/*One 1*/


/* two 2*/


/* Service 1 2 */

.service-1-2 {}


/* two 2*/


/*three*/


/* Service 1 3 */

.service-1-3 {}


/* Service 1 */

.service-1 {}


/* data engineer */

.data-engineer {
    position: absolute;
    left: 29%;
    top: 0.58%;
    right: 18.89%;
    bottom: 62.28%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FB5875;
}


/* Service 1 */

.service-2 {}


/* DEVELOPPEUR FRONT END - DESIGNER UX/UI */

.developpeur-front-end {
    position: relative;
    left: 9%;
    top: 1%;
    margin-top: 15%;
    bottom: 62.28%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FB5875;
}


/* Service 1 */

.service-3 {}


/*three*/


/* spécialisation */

.specialisation {
    position: relative;
    width: 100%;
    height: 36px;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 29px;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #FB5875;
}


/* Beaucoup de pratiques, un peu de théories. Et du fun ! */

.beaucoup-de-pratiques {
    position: relative;
    width: 100%;
    height: 101px;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    line-height: 119.52%;
    letter-spacing: 0.01em;
    color: #000000
}


/* Retrouvez l’ensemble de vos challenges, de vos projets et de vos cours sur notre plateforme pédagogique. Accèdez à nos ressources mis à jour continuellement par nos experts. Au programme : du Peer to Peer , des projets pratiques chaque jour, des challenges, un suivi humain personnalisé, du yoga, des ateliers de prise de parole en public. En bref : 20% de théorie et 80% de pratique. */

.retrouvez-l-ensemble {
    position: relative;
    width: 100%;
    height: 181px;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 0.78em;
    line-height: 156.02%;
    color: #000000;
}


/* Component 6 */

.component-6 {
    position: relative;
    width: 56%;
    height: 62px;
    left: 9%;
}


/* Rectangle 15 */

.rectangle-15a {
    position: relative;
    width: 80%;
    height: 48px;
    background: #FFCC00 !important;
    border-radius: 20px !important;
}


/* je m’inscris maintenant */

.je-m-inscris-maintenant {
    position: absolute;
    left: 10%;
    right: 13.47%;
    top: 11.72%;
    bottom: -1.72%;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 0.7em;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.fleche-inscris {
    left: 43%;
    color: #000000;
    position: relative;
    font-size: 15px;
    top: 17.5%;
}

.speci-groupe2 {
    left: 6%;
    height: 400px;
}


/*les choix de formation*/

.S-part-five {
    position: relative;
    width: 100%;
    background: url("../image/Forme 4 (1).png");
    background-repeat: no-repeat;
    background-size: 23%;
    background-position: left;
}


/* Forme 4 */

.img-grp1 {
    position: relative;
    left: 5% !important;
}


/* react group 271 */

.react-group-271 {
    position: relative;
    /* right: 53.49%; */
    float: right !important;
    width: 68%;
}


/* spécialisation */

.speci-grp3 {
    position: relative;
    margin-left: 0% !important;
}

.specialisation1 {
    /* top: 5647px; */
    position: relative;
    float: right;
    height: 36px;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 29px;
    text-align: right;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: #FB5875;
}


/* Atteins l’Excellence dans ton domaine ! */

.atteins-l-excellence {
    position: relative;
    width: 100%;
    float: right;
    /* left: 763px; */
    top: 6%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    line-height: 119.52%;
    text-align: right;
    letter-spacing: 0.01em;
}


/* Notre objectif est de te transmettre la culture de l’excellence. L’objectif de nos parcours est de t’apprendre à maitriser : les hard skills, les compétences de project Management (agilité), les soft skills, la langue française, et la notion d’engagement. Pour mettre plus de fun dans ce parcours, nous avons gamifié le parcours. Chaque semaine est une ‘quête’ qui est composé d’un certain nombre de ‘missions’. Une mission constitue un ensemble de points qui eux même représente des compétences. Tu vas donc devoir accomplir des missions chaque semaine pour valider des compétences. */

.notre-objectif {
    position: relative;
    /* left: 968px; */
    width: 100%;
    margin-top: 4%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 0.76em;
    line-height: 156.02%;
    text-align: right !important;
    margin-left: 2% !important;
}


/* Component 7 */

.component-7 {
    position: relative;
    float: right;
    width: 30%;
    height: 58px;
}

.rectangle-15b {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFCC00 !important;
    border-radius: 20px !important;
}

.skills-groupe {
    width: 100%;
    top: 4%;
}


/* Rectangle 15 */


/*skills-groupe*/


/* Rectangle 161 */

.rectangle-161 {
    position: relative;
    width: 100% !important;
    height: 118px !important;
    /* top: 6271px; */
    background: #FB5875 !important;
    background-size: 100% 100% !important;
    border-radius: 100px !important;
}


/* hard skills */

.hard-skills {
    position: relative;
    width: 100%;
    height: 28px;
    float: center;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 50.02%;
    /* display: flex; */
    align-items: center;
    text-align: center !important;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #FFFFFF;
}


/* Ton code devra être fonctionnel, claire, performant, bien écris, solide, lisible. Tu seras évalué sur 5 niveaux différents : mauvais, pauvre, juste, bon et excellent. */

.code-fonctionnel {
    width: 100%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 150.02%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;
    color: #000000;
}


/* Rectangle 162 */

.rectangle-162 {
    position: relative;
    width: 100% !important;
    /* top: 6271px; */
    background: #FB5875 !important;
    border-radius: 100px !important;
    height: 57px;
    /* top: 6271px; */
    background: #FB5875;
    border-radius: 100px;
}


/* agile pm */

.agile-pm {
    position: relative;
    width: 100%;
    height: 28px;
    float: center;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 50.02%;
    /* display: flex; */
    align-items: center;
    text-align: center !important;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #FFFFFF;
}


/* On attendra de toi d’être ouvert, respectueux, courageux, rigoureux et concentré. Tu seras évalué sur 5 niveaux différents : mauvais, pauvre, juste, bon et excellent. */

.attendra-de-toi {
    width: 100%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 150.02%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;
    color: #000000;
}


/* Rectangle 163 */

.rectangle-163 {
    position: relative;
    width: 100% !important;
    height: 56px;
    /* top: 6268px; */
    background: #FB5875;
    border-radius: 100px;
}


/* soft skills */

.soft-skills {
    position: relative;
    width: 100%;
    height: 28px;
    float: center;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 150.02%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #FFFFFF;
}


/* On attendra de toi d’être assidue, professionnel, de travailler en équipe, de communiquer et d’être organisé. Tu seras évalué sur 5 niveaux différents : mauvais, pauvre, juste, bon et excellent. */

.attendra-de-toi-1 {
    width: 100%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 150.02%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;
    color: #000000;
}


/* Rectangle 164 */

.rectangle-164 {
    position: relative;
    width: 100% !important;
    height: 57px;
    /* top: 6271px; */
    background: #FB5875;
    border-radius: 100px;
}


/* langue */

.langue {
    position: relative;
    width: 100%;
    height: 28px;
    float: center;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 150.02%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #FFFFFF;
}


/* On attendra de toi d’avoir un bon vocabulaire, parler assez fort, avoir confiance dans ce que tu dis, prononcer correctement et imbattable sur la grammaire et l’orthographe. Tu seras évalué sur 5 niveaux différents : Les bases, travail limité, efficient, professionnel et native bilingue. */

.attendra-de-toi-2 {
    width: 100%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 135.52%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;
    color: #000000;
}


/* Rectangle 165 */

.rectangle-165 {
    position: relative;
    width: 100% !important;
    height: 57px;
    /* top: 6271px; */
    background: #FB5875;
    border-radius: 100px;
}


/* engagement */

.engagement {
    position: relative;
    width: 100%;
    height: 28px;
    float: center;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 150.02%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: #FFFFFF;
}


/* On attendra de toi d’être impliqué, volontaire, concerné, confiant en toi et être proactive. Tu seras évalué sur 5 niveaux différents : Novice, débutant, intermédiaire, avancé et expert. */

.attendra-de-toi-3 {
    width: 100%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;
    color: #000000;
}


/*skills-groupe*/

.typejournee {
    position: absolute;
    width: 77%;
    height: 36px;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 29px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FB5875;
}

.choisisleparcours {
    position: absolute;
    width: 107%;
    height: 123px;
    top: 24%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    line-height: 39px;
    letter-spacing: 0.01em;
    color: #000000;
}

.day-type {
    height: 167px;
    left: 6%;
}

.trace-one {
    position: absolute;
    width: 97%;
    height: 169px;
    left: -2.68px;
    top: 11%;
    background: #FFCC00;
    border-radius: 20px;
}

.trace-bottom {
    height: 600px;
}

.ellipse7-2 {
    position: absolute;
    width: 152px;
    height: 152px;
    left: 65%;
    top: -4%;
}


/*shift du jour groupe*/

.shift-jour {
    position: relative;
    width: 100%;
    height: 186px;
    left: -3%;
    top: -5%;
    /* transform: skew(-10deg); */
    /* -ms-transform: skew(-10deg); */
    background: #E9EAEF;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.back-jour {
    position: absolute;
    width: 18%;
    height: 185px;
    left: 4%;
    top: -1%;
    transform: skew(-12deg);
    -ms-transform: skew(-10deg);
    background: #FB5875;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.txt-J-S {
    position: absolute;
    width: 100%;
    height: 137px;
    left: -1%;
    /* top: 7092px; */
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #323232;
}

.txt-bottom-J-S {
    /* #shift à dominante jour - 9 semaines */
    position: absolute;
    width: 82%;
    height: 30px;
    left: 11%;
    top: 79%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 0.41em;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000000;
}

.back-one-jour {
    position: absolute;
    width: 13%;
    height: 181px;
    left: 24%;
    top: -1%;
    transform: skew(-12deg);
    background: #FB5875;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.on-jour {
    position: relative;
    width: 100%;
    height: 182px;
    left: -4%;
    top: -4%;
    background: #E9EAEF;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.jour-hours {
    /* 7h30 --> 8h */
    position: absolute;
    width: 78%;
    height: 24px;
    left: 21%;
    top: 20%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 1em;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
}

.one-bottom {
    /* Morning routine : thé, journaux, veille tech ... */
    position: absolute;
    width: 89%;
    height: 79px;
    top: 44%;
    left: 7%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
}

.back-two-jour {
    position: absolute;
    width: 13%;
    height: 181px;
    left: 39%;
    top: -1%;
    transform: skew(-12deg);
    background: #FB5875;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.back-three-jour {
    position: absolute;
    width: 13%;
    height: 181px;
    left: 54%;
    top: -1%;
    transform: skew(-12deg);
    background: #FB5875;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.back-four-jour {
    position: absolute;
    width: 13%;
    height: 181px;
    left: 69%;
    top: -1%;
    transform: skew(-12deg);
    background: #FB5875;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.four-bottom {
    /* Morning routine : thé, journaux, veille tech ... */
    position: absolute;
    width: 89%;
    height: 79px;
    top: 36%;
    left: 7%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
}

.back-five-jour {
    position: absolute;
    width: 13%;
    height: 181px;
    left: 84%;
    top: -1%;
    transform: skew(-12deg);
    background: #FB5875;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.five-one-hours {
    position: absolute;
    width: 78%;
    height: 24px;
    left: 21%;
    top: 12%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 1em;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
}

.five-one-txt {
    position: absolute;
    width: 89%;
    height: 79px;
    top: 28%;
    left: 7%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
}

.five-two-hours {
    position: absolute;
    width: 78%;
    height: 24px;
    left: 21%;
    top: 42%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 1em;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
}

.five-two-txt {
    position: absolute;
    width: 89%;
    height: 79px;
    top: 58%;
    left: 7%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
}


/*shift du jour groupe*/


/*shift night*/

.trace-two {
    position: absolute;
    width: 97%;
    height: 169px;
    left: -2.68px;
    top: 63%;
    background: #141138;
    border-radius: 20px;
}

.back-night {
    position: absolute;
    width: 18%;
    height: 185px;
    left: 4%;
    top: -1%;
    transform: skew(-12deg);
    -ms-transform: skew(-10deg);
    background: #FFCC00;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.back-night-one {
    position: absolute;
    width: 13%;
    height: 181px;
    left: 26%;
    top: -1%;
    transform: skew(-12deg);
    background: #FFCC00;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.night-hours {
    position: absolute;
    width: 84%;
    height: 24px;
    left: 9%;
    top: 20%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 1em;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
}

.two-bottom {
    position: absolute;
    width: 89%;
    height: 79px;
    top: 61%;
    left: 7%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
}

.back-night-two {
    position: absolute;
    width: 13%;
    height: 181px;
    left: 42%;
    top: -1%;
    transform: skew(-12deg);
    background: #FFCC00;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.back-night-three {
    position: absolute;
    width: 13%;
    height: 181px;
    left: 58%;
    top: -1%;
    transform: skew(-12deg);
    background: #FFCC00;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.back-night-four {
    position: absolute;
    width: 13%;
    height: 181px;
    left: 74%;
    top: -1%;
    transform: skew(-12deg);
    background: #FFCC00;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.night-hours-last {
    position: absolute;
    width: 84%;
    height: 24px;
    left: 21%;
    top: 20%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 1em;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
}

.cercle-last-trace {
    position: absolute;
    width: 6.5%;
    height: 45%;
    left: 90%;
    top: 27%;
    border-radius: 50%;
    /* border-color: #FFCC00; */
    background: #FFCC00;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
}

.cercle-in-cercle {
    position: absolute;
    width: 77.5%;
    height: 78%;
    left: 11%;
    top: 11%;
    border-radius: 50%;
    background: #E9EAEF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), inset 0px 0px 4px rgba(0, 0, 0, 0.35);
}


/*****************************
******************School css****
************************************/

.seven-one {
    height: 600px;
}

.jump2 {
    height: 400px;
}

.jump-img {
    width: 100%;
    top: -45%;
    position: absolute;
    z-index: 3;
}

.fleche-connexion {
    margin-left: -20px;
    color: #E9EAEF;
}