@media screen and (max-width: 386px) {

	.number4{
		left: 401px !important;
	}
	
}


@media screen and (max-width: 780px) {

	.logo {
		 margin-top: 15%;
    position: relative;
  	width: 120%;
    top: 0%;
    margin-left: 15%;
	}

	header {

    background: url("../images/Forme 5.png") ; 
background-position: left top ;
  background-repeat: no-repeat;
  background-size: 96% 99%;
  margin-left: 0%;
  margin-top: 0%;
  
}
	
	.number2-img {
	position: absolute;
	width: 39%;
	
	z-index: -1;
	left: -28%;
	
}


	.auraije-content {
	
	position: relative;
	left: -10%;
	top: -100px;

}
	.altero {
		margin-bottom: 20%;
	}

	.forme301{
		position: relative;
		top: -10%;
	}

	.trent {
	position: relative;
	background: url("../images/Forme 5(1).png"), url("../images/Forme 6.png");
	background-repeat: no-repeat;
	background-size: 60% 40%, 68% 40%;
	background-position: left, left;
}

	.number4{
		left: 401px !important;
	}
	
}