        @media(min-width:768px) {
            .rectangle-15 {
                display: block !important;
                width: 350px !important;
                height: 54px !important;
            }
            .apprends-les {
                width: 522px !important;
            }
            .structure {
                width: 400px;
            }
        }

        @media(max-width:1500px) and (min-width: 1420px) {
            .menu >li {
                list-style: none;
                display: inline-block !important;
                margin: 2.2%;
            }
        }

         @media(max-width:1600px) and (min-width: 1501px) {
            .menu >li {
                list-style: none;
                display: inline-block !important;
                margin: 2.9%;
            }
        }
        
        @media(max-width:1200px) and (min-width:990px) {
            .di-rect1,
            .di-rect-bottom {
                width: 310px;
                height: 350px;
            }
        }
        
        @media(max-width:991px) and (min-width:767px) {
            .three-list-one {
                width: 90%;
                margin-left: 10% !important;
            }
            .md-bottom {
                margin-left: 20%;
            }
        }
        
        @media(min-width:1000px) {
            .speci {
                width: 655px;
                float: right;
            }
            .apres-avoir {
                width: 413px;
                float: right;
            }
            .speci-speci {
                padding-top: 53px;
            }
            .retrouvez-l-ensemble {
                width: 423px;
            }
            .atteins-l-excellence {
                width: 119%;
            }
            .code-fonctionnel,
            .attendra-de-toi,
            .attendra-de-toi-1,
            .attendra-de-toi-2,
            .attendra-de-toi-3 {
                width: 143px;
                margin-left: 14px;
            }
        }
        
        @media(max-width:1000px) and (min-width:767px) {
            .apres-avoir {
                margin-top: 20px;
            }
            .code-fonctionnel,
            .attendra-de-toi,
            .attendra-de-toi-1,
            .attendra-de-toi-2,
            .attendra-de-toi-3 {
                width: 143px;
                margin-left: 14px;
            }
        }
        
        @media screen and (max-width: 330px) {

            .speci {
    position: relative;
    margin-bottom: 80px;
}
             .speci-speci {
                margin-bottom: 40px;
                padding-top: 53px;
                right: 2%;
            }
            .apprends-les {
               position: relative;
               margin-bottom: 190px;
            }
            .fdh {
                position: relative;
                margin-top: 10% !important;
                left: 0.3%;
                margin-right: 0.1%;
            }
            .formons-des-heros {
                position: relative;
                font-size: 4em;
                line-height: 104px;
            }
            .des-heros {
                position: relative;
                font-size: 5.3em;
                line-height: 95.02%;
                /* display: flex; */
            }
            .girl-fly {
                margin-top: 2% !important;
                float: right;
                /*top: -34%;*/
                left: -10% !important;
            }
            .hate-de-nous-rencontrer {
                position: relative;
                font-size: 1.4em !important;
            }
            .component-3 {
                position: relative;
                width: 82%;
                height: 78px;
            }
            .je-m-inscris {
                position: relative;
                top: 10%;
                font-family: 'Lato';
                font-style: normal;
                font-weight: bold;
                font-size: 1.1em;
                line-height: 30px;
                /* display: inline; */
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                color: #E9EAEF;
            }
            .structure {
                position: relative;
                width: 70%;
                margin-top: 39% !important;
                left: 8%;
                font-family: 'Inter', 'sans-serif';
                font-style: normal;
                font-size: 0.78em;
                line-height: 156.02%;
                color: #000000;
            }
            .jeminscris {
                position: relative;
                width: 67%;
            }
            .jem {
                position: relative;
                left: 4%;
            }
            .di-rect1,
            .di-rect-bottom {
                position: relative;
                width: 280px !important;
                margin-right: 3%;
                height: 332px;
                background: #F7F7F9;
                border-radius: 20px;
            }
            .sitread {
                position: absolute;
                width: 86%;
                height: 405px;
                top: -8%;
            }
            .apres-avoir {
                position: relative;
                width: 100%;
                height: 116px;
                margin-top: 80%;
            }
            .speci-groupe2 {
                left: 2%;
                height: 400px;
                margin-right: 2%;
            }
            .S-part-five {
                position: relative;
                margin-top: 30%;
                width: 100%;
                background: transparent;
            }
            .speci-grp3 {
                position: relative;
                margin-left: 2% !important;
                right: 10px !important;
              
            }

                        .notre-objectif {
                position: relative;
            
                font-size: 0.74em;
            }
            .atteins-l-excellence {
                position: relative;
                width: 98%;
                float: right;
                margin-bottom: 12%;
                /* left: 763px; */
                top: 6%;
                font-family: 'Inter', 'sans-serif';
                font-style: normal;
                font-weight: 900;
                font-size: 1.8em;
                line-height: 119.52%;
                text-align: right;
                letter-spacing: 0.01em;
            }
            .component-7 {
                position: relative;
                float: right;
                width: 40%;
                height: 58px;
            }
            .rectangle-15a {
                position: relative;
                width: 100%;
                height: 48px;
                background: #FFCC00 !important;
                border-radius: 20px !important;
            }
            .groupe-41 {
                position: relative;
                left: 10%;
            }
        }
        
        @media screen and (max-width: 410px) {
            .fdh {
                position: relative;
                margin-top: 10% !important;
                left: 0.3%;
                margin-right: 0.1%;
            }
            .formons-des-heros {
                position: relative;
                font-size: 4em;
                line-height: 104px;
            }
            .des-heros {
                position: relative;
                font-size: 5.3em;
                line-height: 95.02%;
                /* display: flex; */
            }
            .girl-fly {
                margin-top: 2% !important;
                float: right;
                /*top: -34%;*/
                left: 0%;
            }
            .hate-de-nous-rencontrer {
                position: relative;
                font-size: 1.4em !important;
            }
            .component-3 {
                position: relative;
                width: 82%;
                height: 78px;
            }
            .je-m-inscris {
                position: relative;
                top: 10%;
                font-family: 'Lato';
                font-style: normal;
                font-weight: bold;
                font-size: 1.1em;
                line-height: 30px;
                /* display: inline; */
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                color: #E9EAEF;
            }
            .structure {
                position: relative;
                width: 70%;
                margin-top: 39% !important;
                left: 8%;
                font-family: 'Inter', 'sans-serif';
                font-style: normal;
                font-size: 0.78em;
                line-height: 156.02%;
                color: #000000;
            }

                        .notre-objectif {
                position: relative;
            
                font-size: 0.74em !important;
            }
            .jeminscris {
                position: relative;
                width: 67%;
            }
            .jem {
                position: relative;
                left: 4%;
            }
            .di-rect1,
            .di-rect-bottom {
                position: relative;
                width: 310px;
                margin-right: 3%;
                height: 332px;
                background: #F7F7F9;
                border-radius: 20px;
            }
            .sitread {
                position: absolute;
                width: 86%;
                height: 405px;
                top: -8%;
            }
            .apres-avoir {
                position: relative;
                width: 100%;
                height: 116px;
                margin-top: 39%;
            }
            .speci-groupe2 {
                left: 2%;
                height: 400px;
                margin-right: 2%;
            }

                    .hard-skills, .agile-pm, .soft-skills, .langue, .engagement{
            position: relative;
            left: 7% !important;
        }
                    .rectangle-161, .rectangle-162, .rectangle-163, .rectangle-164, .rectangle-165{
            position: relative;
            left: 5% !important;
        }

       .S-part-five {
                position: relative;
                margin-top: 30%;
                width: 100%;
                background: transparent;
            }
            

                .speci-grp3 {
                position: relative;
                margin-left: 2% !important;
                right: 10px !important;
              
            }
               
           
            .atteins-l-excellence {
                position: relative;
                width: 98%;
                float: right;
                margin-bottom: 12%;
                /* left: 763px; */
                top: 6%;
                font-family: 'Inter', 'sans-serif';
                font-style: normal;
                font-weight: 900;
                font-size: 1.8em;
                line-height: 119.52%;
                text-align: right;
                letter-spacing: 0.01em;
            }
            .component-7 {
                position: relative;
                float: right;
                width: 40%;
                height: 58px;
            }
            .rectangle-15a {
                position: relative;
                width: 100%;
                height: 48px;
                background: #FFCC00 !important;
                border-radius: 20px !important;
            }
            .groupe-41 {
                position: relative;
                left: 7%;
            }
        }
        
        @media screen and (max-width: 1030px) {
            .etape-1,
            .etape-2,
            .etape-3,
            .etape-4,
            .etape-5,
            .etape-6 {
                position: absolute;
                font-size: 1.1em;
            }
            .choisis-parcours,
            .remplis-mon-formulaire,
            .passe-mon-test,
            .bloque-un-creneau,
            .entame-les-demarches,
            .demarre-la-formation {
                position: absolute;
                font-size: 0.8em;
                line-height: 20px;
            }
        }
        
        @media screen and (max-width: 767px) {

            #background-body {
    width: 100%;
    display: block;
    background: #E5E5E5;
    overflow-x: hidden;
}

            header {
                background: url("../image/Forme 1 (1) 1.png");
                background-position: left top;
                background-repeat: no-repeat;
                background-size: 60% 12%;
                margin-left: 0%;
                margin-top: 0%;
            }
            .groupe-41 {
                text-align: -webkit-center;
            }
            .code-fonctionnel,
            .attendra-de-toi,
            .attendra-de-toi-1,
            .attendra-de-toi-2,
            .attendra-de-toi-3 {
                width: 75%;
                /* margin-left: 14px; */
            }
            .fdh {
                left: 3%;
            }
        }
        
        @media screen and (max-width: 646px) {
            header {
                background: url("../image/Forme 1 (1) 1.png");
                background-position: left top;
                background-repeat: no-repeat;
                background-size: 55% 10%;
                margin-left: 0%;
                margin-top: 0%;
            }
            .logo1-school {
                position: relative;
                margin-top: 5%;
                margin-left: 8%;
                width: 35%;
                height: 40.38px;
            }
            .structure {
                position: relative;
                width: 70%;
                margin-top: 49% !important;
                left: 8%;
                font-family: 'Inter', 'sans-serif';
                font-style: normal;
                font-size: 0.78em;
                line-height: 156.02%;
                color: #000000;
            }
        }
        
        @media screen and (max-width: 725px) {
            .etape-1,
            .etape-2,
            .etape-3,
            .etape-4,
            .etape-5,
            .etape-6 {
                position: absolute;
                font-size: 1.05em;
            }
            .choisis-parcours,
            .remplis-mon-formulaire,
            .je-m-inscris,
            .passe-mon-test,
            .bloque-un-creneau,
            .entame-les-demarches,
            .demarre-la-formation {
                position: absolute;
                font-size: 0.65em;
                line-height: 16px;
            }
            .structure {
                position: relative;
                width: 70%;
                margin-top: 7%;
            }
        }
        
        @media screen and (max-width: 375px) {
            .etape-1,
            .etape-2,
            .etape-3,
            .etape-4,
            .etape-5,
            .etape-6 {
                position: absolute;
                font-size: 0.91em;
            }

            .menu {
                position: relative;
                margin-top: 20%;
            }
            .choisis-parcours,
            .remplis-mon-formulaire,
            .je-m-inscris,
            .passe-mon-test,
            .bloque-un-creneau,
            .entame-les-demarches,
            .demarre-la-formation {
                position: absolute;
                font-size: 0.55em;
                line-height: 14px;
            }
            .ellipse-5 {
                display: none !important;
            }
            .hate-de-nous-rencontrer {
                position: relative;
                /* top: 1169px; */
                font-size: 1.8em;
            }
        }